In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\mvesk\Project2-ETL\ETL-Project\goal_detail.csv')


df.head()

C:\Users\mvesk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,comment,coordinates,del,elapsed,elapsed_plus,event_incident_typefk,goal,goal_type,goals,id,...,pos_x,pos_y,shotoff,shoton,sortorder,stats,subtype,team,type,value
0,n,NaN,NaN,22,NaN,406,NaN,n,NaN,378998,...,NaN,NaN,NaN,NaN,5,NaN,header,10261.0,goal,NaN
1,n,NaN,NaN,24,NaN,393,NaN,n,NaN,379019,...,NaN,NaN,NaN,NaN,4,NaN,shot,10260.0,goal,NaN
2,n,NaN,NaN,4,NaN,393,NaN,n,NaN,375546,...,NaN,NaN,NaN,NaN,2,NaN,shot,9825.0,goal,NaN
3,n,NaN,NaN,83,NaN,407,NaN,n,NaN,378041,...,NaN,NaN,NaN,NaN,0,NaN,distance,8650.0,goal,NaN
4,n,NaN,NaN,4,NaN,393,NaN,n,NaN,376060,...,NaN,NaN,NaN,NaN,2,NaN,shot,8654.0,goal,NaN

In [20]:
#df=df.rename(columns({}))
#df.rename(columns={'':'Prim_id'})
#df.head(5)

,comment,coordinates,del,elapsed,elapsed_plus,event_incident_typefk,goal,goal_type,goals,id,...,pos_x,pos_y,shotoff,shoton,sortorder,stats,subtype,team,type,value
0,n,NaN,NaN,22,NaN,406,NaN,n,NaN,378998,...,NaN,NaN,NaN,NaN,5,NaN,header,10261.0,goal,NaN
1,n,NaN,NaN,24,NaN,393,NaN,n,NaN,379019,...,NaN,NaN,NaN,NaN,4,NaN,shot,10260.0,goal,NaN
2,n,NaN,NaN,4,NaN,393,NaN,n,NaN,375546,...,NaN,NaN,NaN,NaN,2,NaN,shot,9825.0,goal,NaN
3,n,NaN,NaN,83,NaN,407,NaN,n,NaN,378041,...,NaN,NaN,NaN,NaN,0,NaN,distance,8650.0,goal,NaN
4,n,NaN,NaN,4,NaN,393,NaN,n,NaN,376060,...,NaN,NaN,NaN,NaN,2,NaN,shot,8654.0,goal,NaN

In [4]:


df.to_csv(r'C:\Users\mvesk\Project2-ETL\ETL-Project\goal_detail_redone.csv', index =True)
df.head()

,comment,coordinates,del,elapsed,elapsed_plus,event_incident_typefk,goal,goal_type,goals,id,...,pos_x,pos_y,shotoff,shoton,sortorder,stats,subtype,team,type,value
0,n,NaN,NaN,22,NaN,406,NaN,n,NaN,378998,...,NaN,NaN,NaN,NaN,5,NaN,header,10261.0,goal,NaN
1,n,NaN,NaN,24,NaN,393,NaN,n,NaN,379019,...,NaN,NaN,NaN,NaN,4,NaN,shot,10260.0,goal,NaN
2,n,NaN,NaN,4,NaN,393,NaN,n,NaN,375546,...,NaN,NaN,NaN,NaN,2,NaN,shot,9825.0,goal,NaN
3,n,NaN,NaN,83,NaN,407,NaN,n,NaN,378041,...,NaN,NaN,NaN,NaN,0,NaN,distance,8650.0,goal,NaN
4,n,NaN,NaN,4,NaN,393,NaN,n,NaN,376060,...,NaN,NaN,NaN,NaN,2,NaN,shot,8654.0,goal,NaN

In [13]:
#df = pd.read_csv(r'F:\goal_detail_redone.csv', index_col='prim_id')

#df.head(5)

C:\Users\mvesk\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,comment,coordinates,del,elapsed,elapsed_plus,event_incident_typefk,goal,goal_type,goals,id,...,pos_x,pos_y,shotoff,shoton,sortorder,stats,subtype,team,type,value
0,n,NaN,NaN,22,NaN,406,NaN,n,NaN,378998,...,NaN,NaN,NaN,NaN,5,NaN,header,10261.0,goal,NaN
1,n,NaN,NaN,24,NaN,393,NaN,n,NaN,379019,...,NaN,NaN,NaN,NaN,4,NaN,shot,10260.0,goal,NaN
2,n,NaN,NaN,4,NaN,393,NaN,n,NaN,375546,...,NaN,NaN,NaN,NaN,2,NaN,shot,9825.0,goal,NaN
3,n,NaN,NaN,83,NaN,407,NaN,n,NaN,378041,...,NaN,NaN,NaN,NaN,0,NaN,distance,8650.0,goal,NaN
4,n,NaN,NaN,4,NaN,393,NaN,n,NaN,376060,...,NaN,NaN,NaN,NaN,2,NaN,shot,8654.0,goal,NaN

In [2]:
df.set_index('', inplace=True)
#df.columns=['prim_id']
#df.head(5)

NameError: name 'df' is not defined